[submodule "tools/gyp"]
	path = tools/gyp
	url = https://github.com/svn2github/gyp.git
[submodule "deps/uv"]
	path = deps/uv
	url = https://github.com/nubjs/libuv.git
[submodule "deps/fuq"]
	path = deps/fuq
	url = https://github.com/nubjs/fuq.h.git
